html, body, .rajdhani {
  font-family: 'Rajdhani', sans-serif;
}

.karla {
  font-family: 'Karla', sans-serif;
}

.bg-gradient-1 {
  background: linear-gradient(182.81deg, #94CBFF 13.83%, #E9D8FD 86.17%);
}

.bg-gradient-2 {
  background: linear-gradient(2.81deg, #94CBFF 13.83%, #E9D8FD 86.17%);
}

